<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    {% for book in books %}
    <li>
        <h1>{{ book.title }}</h1>
        <h2>Author: {{ book.author.username }}</h2>
    
        <h3>Sections:</h3>
        <ul>
            {% for section in sections %}
                <li><a href="{% url 'edit_section' section.id %}">{{ section.title }} hnm</a></li>
            {% endfor %}
        </ul>
    </li>

   
    {% endfor %}

    <a href="{% url 'create_book' %}">Create New book</a>
</body>
</html>
